/*-----------------*/
/*-----------------*/
/*---RESETSTYLE----*/
/*-----------------*/
@import url("reset.css");



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

textarea,
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    /* background-color: inherit; */
    background-color: #000;

}



/*---------------------*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* color: #fff; */
    /* background-color: #262c37; */
}

.menu-open body {
    overflow: hidden;
}

/*--------------------*/
.wrapper {
    min-height: 100%;
    overflow: clip;
}

/*------------------------------*/

[class*="__container"] {
    max-width: 81.25rem;
    margin: 0 auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

/*-----------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    background-color: #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;

    /*-----header background-color*/
    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;
    z-index: 2;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */

    gap: 0.9375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 4.375rem;
}

.header-logo {
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 5px;

    color: #f83504;
    position: relative;
    z-index: 5;
}

.header_menu {}

.menu {}

.menu__body {
    position: relative;
    z-index: 5;
}

.menu_list {
    display: flex;
    /* align-items: center; */
    column-gap: 1.875rem;
    row-gap: 0.3125rem;
    flex-wrap: wrap;
}

.menu_item {}

.menu_link {
    font-size: 1.125rem;
}

.menu_link:hover {
    text-decoration: underline;
    color: #f83504;
    transition: all 0.3s;
}

.menu__icon {}

.icon-menu {
    display: none;
}

.icon-menu__line {}

@media (max-width: 797.98px) {
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: left 0.3s;
        /* background-color: #262c37; */
        background-color: #ff3603;
        padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
        overflow: auto;
        z-index: 1;
    }

    .menu-open .menu__body {
        left: 0;
    }

    .menu_list {
        flex-direction: column;
        gap: 2.1875rem;
    }

    .menu_link {
        font-size: 20px;
        color: #fff;
    }

    .icon-menu {
        display: block;
        position: relative;
        z-index: 5;
        width: 1.875rem;
        height: 1.125rem;
        margin-left: 5px;
        padding-left: 5px;
        border-radius: 50%;
        background-color: #f83504;
    }

    .icon-menu__line,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        position: absolute;
        background-color: #fff;
        height: 0.125rem;
        width: 100%;
        left: 0;
        transition: all 0.3s;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu__line {
        top: calc(50% - 0.0625rem);
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 0.0625rem);
        transform: rotate(45deg);
    }

    .menu-open .icon-menu__line {
        left: 50%;
        width: 0;
    }

    .about--list_item {
        margin-left: 30px;
        width: 100%;
    }
}

@media (max-width: 797.98px) {
    .about--list_item {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
    }
}

/*---------------------*/

.page {
    padding-top: 6.25rem;
    padding-bottom: 1.5625rem;
}

.page__container {
    line-height: 1.5;
    /* display: grid;
    gap: 0.9375rem; */
}

.page_container-button {
    color: #fff;
    background: #da4e24;
    border-radius: 5px;

    margin: 0 auto;
    padding: 10px 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    /* box-shadow:; */
    border: none;
    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-style: normal;
    text-align: center;


    width: 272px;
    height: 56px px;

    cursor: pointer;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page_container-button:hover {
    color: #da4e24;
    background: #fff;
    transition: all 0.3s;
}

.page_comtainer-hero {
    max-width: 1600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/background-min.jpg); */
}

.page_container-item {
    height: 600px;
    background-color: #f3f307;

    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

}

.page__title {
    font-weight: 700;
    color: #da4e24;
}

.page__title-home {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.page__title-products,
.page__title-news {

    /* line-height: 60px; */
    /* text-align: center; */
    /* text-transform: uppercase;
    margin-bottom: 60px;
    color: #fff;
    width: 400px; */


    color: #fff;
    font-size: 1.3125rem;
    font-weight: 400;
    margin: 0 0 16px 0;


}

.page__title-text {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    width: 400px;

    font-size: 1.0625rem;
    font-weight: 300;
    width: 100%;
    max-width: 336px;
    line-height: 21px;
    margin: 0 0 32px 0;
}

.page__title-button {
    color: #fff;
    background: #da4e24;
    border-radius: 5px;

    margin: 0 auto;
    padding: 10px 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    /* box-shadow:; */
    border: none;
    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-style: normal;
    text-align: center;


    width: 272px;
    height: 56px px;

    cursor: pointer;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;


}

.page__title-button:hover {
    color: #da4e24;
    background: #fff;
    transition: all 0.3s;

}

.page__title-item {
    color: #000;
    font-size: 1.3125rem;
    font-weight: 500;
    margin: 0;
    text-align: center;

    margin-bottom: 50px;
}

.h1.page__title {
    font-size: 2.125rem;
}

.h2.page__title {
    font-size: 1.5rem;
}






/*----------------ABOUT----------------*/

.about--list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.about--list_item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    width: 100%;

}

.about--list__title {
    margin-top: 35px;
    text-align: center;

}

.about--list__icon {
    background: #f70606;

    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px px;


}

/*----------------ABOUT----------------*/


/*----------------FOOTER--------------*/
.footer {
    display: grid;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}


.footer_mail {
    font-weight: 400;
    white-space: normal;
    word-break: break-word;
}

.footer_copy {
    margin: 0 auto;
}